---
import CustomButton from "./ui/CustomButton.astro";
import Title from "./ui/Title.astro";
import TestimonioCard from "./ui/TestimonioCard.astro";

const testimoniosData = [
  {
    id: 1,
    videoId: "5abebplbpo",
    title: "Enzo genero 6.300 usd de ganancia en su X mes",
    description:
      "Hace unos meses Enzo habia tenido que pedir prestados usd150 para comer y pagar el alquiler, hoy genera +X.XXX usd todos los meses trabajando desde su casa gracias a tomar accion, estudiar y aplicar todo lo que le enseñamos.",
    name: "Enzo Toledo",
    details: "X años || Ubicación",
    videoPadding: "62.5%",
  },
  // {
  //   id: 2,
  //   videoId: "vvilbp438p",
  //   title: "Llego a los 5.000 dolares por mes en solo 5 meses",
  //   description: "Hacia 10 horas como uber y hoy factura +5.000 usd",
  //   name: "Nombre y Apellido",
  //   details: "X años || Ubicación",
  //   videoPadding: "56.25%",
  // },
  {
    id: 2,
    videoId: "kiyruo4om9",
    title: "Llego a los 5.000 dolares por mes en solo 5 meses",
    description: "Hacia 10 horas como uber y hoy factura +5.000 usd por mes.",
    name: "Nico Pasquini",
    details: "X años || Ubicación",
    videoPadding: "62.5%",
  },
  {
    id: 3,
    videoId: "fj97vodnrr",
    title: "Entrevista con Nico - Su experiencia con Sales Mastery",
    description:
      "Conoce la historia de Nico y cómo logró transformar su vida financiera por completo.",
    name: "Nico Rabellino",
    details: "X años || Ubicación",
    videoPadding: "56.25%",
  },
  // {
  //   id: 5,
  //   videoId: "asiqe43opt",
  //   title: "Entrevista con Joaquín - De cero a resultados consistentes",
  //   description:
  //     "Joaquín comparte su proceso y los resultados que ha conseguido",
  //   name: "Joaquín",
  //   details: "X años || Ubicación",
  //   videoPadding: "62.5%",
  // },
  // {
  //   id: 6,
  //   videoId: "q4137hf65y",
  //   title: "Entrevista con Cruz - Superando obstáculos y alcanzando metas",
  //   description:
  //     "Cruz nos cuenta cómo superó los desafíos y logró sus objetivos",
  //   name: "Cruz",
  //   details: "X años || Ubicación",
  //   videoPadding: "62.5%",
  // },
];
---

<section class="py-12 sm:py-16 md:py-[80px]">
  <div class="max-w-[1020px] mx-auto px-4">
    <Title bg="TESTIMONIOS" text="Algunos de" highlight="nuestros clientes" />
    <div class="mt-6 sm:mt-8">
      {
        testimoniosData.map((testimonio, index) => (
          <TestimonioCard
            videoId={testimonio.videoId}
            title={testimonio.title}
            description={testimonio.description}
            name={testimonio.name}
            details={testimonio.details}
            videoPadding={testimonio.videoPadding}
            isFirst={index === 0}
          />
        ))
      }
    </div>
    <CustomButton />
  </div>
</section>
